Activity/.vs/
Activity/Activity.API/obj/
Activity/Activity.Application/obj/
Activity/Activity.Domain/obj/
Activity/Activity.Infrastructure/obj/
Activity/Activity.API/bin/
Activity/Activity.Application/bin/
Activity/Activity.Domain/bin/
Activity/Activity.Infrastructure/bin/
Activity/Activity.API/Logs/
Activity/Activity.API.UnitTest/bin/
Activity/Activity.API.UnitTest/obj/
